.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/unprotected/.DS_Store
src/main/unprotected/assets/.DS_Store
src/main/unprotected/assets/bootstrap/.DS_Store
src/main/unprotected/assets/img/.DS_Store
